body {
    color: #222;
    line-height: 1.5em;
}

a {
    color: #222;
    text-decoration: none;
}

.dropdown {
    width: 200px;
}

.dropdown-btn {
    width: inherit;
    padding: 10px;
    font-size: 18px;
    background-color: yellowgreen;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.dropdown-submenu {
    display: none;
    width: inherit;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
}

.dropdown-submenu a {
    display: block;
    padding: 7px;
    text-align: center;
}

.dropdown-submenu a:hover {
    background-color: #eee;
}

.dropdown:hover .dropdown-submenu {
    display: block;
}