body {
    font-family: sans-serif;
    line-height: 1.5em;
    margin: 0;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
}

.loading span {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: gray;
    border-radius: 50%;
    animation: loading 1s linear infinite;
}

.loading span:nth-child(1) {
    animation-delay: 0;
    background-color: crimson;
}

.loading span:nth-child(2) {
    animation-delay: 0.2s;
    background-color: dodgerblue;
}

.loading span:nth-child(3) {
    animation-delay: 0.4s;
    background-color: royalblue;
}

@keyframes loading {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}