/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/****************** Utility Components *****************/
:root {
  font-size: 62.5%;

  /************ Custom Properties ***********/

  /* Main Color */
  --primary-color: #014d4e;

  /* Secondary Color */
  --secondary-color: #ff9408;

  /* Secondary Color Modified */
  --secondary-color-m: #ff94088e;

  /* tertiary color */
  --tertiary-color: #017374;

  /* tertiary color modified */
  --tertiary-color-m: #01727498;
}

body {
  font-family: "Baloo Tamma 2", cursive;
  line-height: 1.8;
  display: flex;
}

/****************** Main Styling *****************/

/********************* Side Nav ********************/
#side-nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}

.side-nav__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.side-nav__content--logo img {
  width: calc(3vw + 3vh);
  object-fit: cover;
}

.side-nav__content--social {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.side-nav__content--social a i {
  font-size: calc(1rem + 0.66667vw);
  color: white;
  padding-bottom: calc(2rem + 00.66667vw);
  transition: color 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.side-nav__content--social a i:hover,
side-nav__content--social a i:active {
  color: var(--secondary-color);
}
