@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10
}

a {
  text-decoration: none;
  color: #222;
}

.tab-inner {

  width: 300px;
  height: 350px;
  position: relative;
}

input[name=tabmenu] {
  display: none;
}

.content {
  display: none;
}

.btn {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10px;
}

.btn label {
  background-color: lightgray;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

input[id=tab1]:checked ~ .slide1,
input[id=tab2]:checked ~ .slide2,
input[id=tab3]:checked ~ .slide3 {
  display: block;
} 

input[id=tab1]:checked ~ .btn label[for=tab1],
input[id=tab2]:checked ~ .btn label[for=tab2],
input[id=tab3]:checked ~ .btn label[for=tab3] {
  background-color: crimson;
}