.box-container {
    display: flex;
}

.box {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background: rgba(255, 255, 0, 0.7);
    transition: 1.5s cubic-bezier(0.84,-0.84, 0, 1.68);
}

.box:hover {
    width: 200px;
    background: red;
}