.card-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.card-image {
  height: 0;
  padding-bottom: 60%;
  background-color: lightgray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card-image img {
  display: none;
}
.card-desc {
  flex: 1 1 auto;
  padding: 1em;
  background: white;
}

@media (min-width: 600px) {
  .card-list-con {
    overflow-x: hidden;
  }
  .card-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }
  .card-item {
    width: 50%;
    padding: 0 1rem;
  }
}

@media (min-width: 1200px) {
  .card-item {
    width: 33.33333%;
  }
}
