@keyframes spaceship-ani {
    to {
        background-position: -2550px 0;
    }
}

.spaceship {
    width: 150px;
    height: 150px;
    background: url("../images/sprite_spaceship.png") no-repeat 0 0 / auto 150px;
    animation: spaceship-ani 2s infinite steps(17);
}