.like-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.card {
  display: flex;
  width: 840px;
  padding: 24px;
}

.card-image {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  border-radius: 6px;
  margin-right: 24px;
  background: url("./assets/img-house.jpg") no-repeat center center;
  background-size: cover;
}

.card-image .like-button {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background: #fff url("./assets/icon-favorite.svg") no-repeat center center;
  background-size: 24px 24px;
  cursor: pointer;
}

.card-image img {
  width: 100%;
  height: auto;
}

.card-content {
  flex-grow: 1;
}

.plus-badge {
  display: inline-block;
  padding: 1px 8px;
  border-radius: 4px;
  margin-right: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.428571486;
  color: #fff;
  text-transform: uppercase;
  background-color: #92174d;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.property-type span {
  font-size: 16px;
  line-height: 1.25;
  color: #7d858f;
}

.property-rate span {
  font-size: 16px;
  line-height: 1.25;
}

.property-rate strong {
  font-weight: 400;
  color: #151b26;
}

.property-rate span {
  color: #151b26;
}

.property-rate::before {
  content: "";
  position: relative;
  top: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("./assets/icon-star.svg") no-repeat center center;
  background-size: contain;
}

.card-title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  color: #151b26;
}

.property-detail {
  font-size: 14px;
  line-height: 1.428571486;
}

.property-detail dd span::after {
  content: "·";
  margin: 0 8px;
}

.property-detail dd span:last-child:after {
  content: "";
  margin: 0;
}

.property-detail div:first-child {
  margin-bottom: 8px;
}