@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
    
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
    
body {
  font-family: 'Raleway', sans-serif;
  color: #222;
  line-height: 1.5em;
  font-weight: 300;
  background-color: royalblue;
  margin: 0;
}
a {
  color: #222;
  text-decoration: none;
}
.gnb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
}
.gnb a {
  display: block;
  font-size: 40px;
  margin: 30px 0;
  color: #fff;
  transition: 0.5s;
}
.gnb:hover a {
  opacity: 0.3;
}
.gnb a:hover {
  opacity: 1;
}
.gnb a:before {
  content: '\f105';
  font-family: fontawesome;
  margin-right: 10px;
  opacity: 0;
}
.gnb a:hover:before {
  opacity: 1;
}