/* search */
.search-form {
  display: flex;
  height: 40px;
}

.search-form input[type="search"] {
  flex: 1;
  margin-right: 10px;
  border: 0;
  border-radius: .3em;
  font-size: 1rem;
}

.search-form input[type="submit"] {
  width: 4em;
  border: 0;
  border-radius: .3em;
  font-size: 1rem;
  background: gold;
}